{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
email = {{ $email | quote }}

[git]
autoPush = true

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-password-manager.sh"
