#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ range .packages.flatpaks -}}
flatpak info {{ . }} || flatpak install -y flathub {{ . }}
{{ end }}
